$base_color: #195581;
$second_color: #3D3D3D;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@keyframes ani{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showLeft{
    from {
        left:-100%;
    }
    to {
        left:0;
    }
}

@keyframes showRight{
    from {
        right:-100%;
    }
    to {
        right:0;
    }
}

@keyframes typewriter{
    from {
        width: 10%;
    }
    to {
        width: 370px;
    }
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

.container {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.header{
    z-index: 1;
    opacity: 0;
    animation: ani 1.5s forwards;
   &__logo{
    display: flex;
    gap: 5px;
    h2{
        margin-top: 40px;
    }
   }

   &__list{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: -26px;
    font-size: 20px;
    li{
        a{
            font-weight: 400;
            color: #000;
            transition: all ease-in-out .25s;
            &:hover{
                cursor: pointer;
                font-size: 18px;
                border-bottom: 1px solid #195581;
            }
        }
    }
   }

   &__button{
    display: flex;
    justify-content: right;
    margin-top: -40px;
    margin-bottom: 10px;
    a{
        background-color: $base_color;
        padding: 8px 29px;
        border-radius: 6px;
        color: #fff;
        transition: padding .5s;
        &:hover{
            font-weight: 600;
            padding: 8px 36px;
            background-color: #1486D9;
            }
        }
    }
    &__burger{
        display: none;
        &-back{
            display: none;
        }
    }
}

.burger{
    position: absolute;
    display: none;
    z-index: 999;
    &__wrapper{
        background-color: #fff;
        width: 180px;
        height: 254px;
        z-index: 999;
        margin-left: 200px;
    }
    &__autorization{
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        p{
            margin-top: 3px;
            font-size: 10px;
        }
    }
    &__login{
        background-color: $base_color;
        padding: 3px 13px;
        color: #fff;
        border-radius: 6px;
        font-size: 10px;
        transition: ease-in-out .2s;
        &:hover{
            transform: scale(1.03);
            opacity: .85;
        }
    }
    &__register{
        margin-top: 3px;
        color: $base_color;
        font-size: 12px;
        font-weight: bold;
        transition: ease-in-out .2s;
        &:hover{
            transform: scale(1.03);
            opacity: .85;
        }
    }
    &__hr{
        width: 163px;
        border-radius: 100;
        margin: 0 auto;
    }
    &__menu{
        text-align: center;
        margin-top: 10px;
        li{
            margin-top: 10px;
            transition: all ease-in-out .2s;
            &:hover{
                background-color: #bdbdbd46;
                width: auto;
                height: auto;
                transform: scale(1.03);
            }
        }
        a{
            color: #000;
            font-size: 16px;
        }
    }
}

.main{
    margin-left: 170px;
    &__wrapper{
        display: flex;
    }
    &__title-text{
        position: relative;
        animation: showLeft 1s;
        z-index: 1;
        h1{
            font-size: 48px;
            white-space: nowrap;
            overflow: hidden;
            color: $base_color;
            animation: typewriter 3s steps(13) infinite alternate;
            border-right: 5px solid black;
            width: 320px;
            margin-top: 100px;
            font-weight: bold;
        }
        p{
            width: 371px;
            font-size: 20px;
            color: $second_color;
            margin-top: 42px;
            font-weight: bold;
        }
    }
    &__slider-wrapper{
        height: 520px;
        margin: 100 auto 0;
        position: relative;
        width: 715px;
        top: 50px;
        left: 120px;
        input{
            display: none;
        }
        
    }
    &__slider{
        position: relative;
        animation: showRight 1s;
        z-index: 1;
        height: inherit;
        overflow: hidden;
        position: relative;
        width: inherit;
        &-slides{
            height: inherit;
            position: absolute;
            width: inherit;
            opacity: 0;
            z-index: 0;
            transform: scale(1);
            transition: transform ease-in-out .5s, opacity ease-in-out .5s;
        }
    img{
        animation: ani .3s
    }
    }
    &__prev-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #fff;
        z-index: 999;
    }
    &__next-button{
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #fff;
        z-index: 999;
        right: 5px;
        position: absolute;
        
    }
    &__card-block{
        margin-top: 150px;
        position: absolute;
    }
    &__card-1{
        position: relative;
        animation: showLeft 1s;
        margin-left: 100px;
        background-color: #F6F6F6;
        width: 997px;
        height: 391px;
        border-radius: 50px;
        box-shadow: 6px 6px 25px 4px rgba(34, 60, 80, 0.2);
        display: flex;
        justify-content: space-between;
        &_text{
            h2{
                font-size: 24px;
                font-weight: bold;
                color: $base_color;
                padding: 54px 0px 0px 59px;
            }
            p{
                font-size: 16px;
                color: $second_color;
                padding: 31px 0 0 59px;
                width: 455px;
            }
            button{
                background-color: $base_color;
                border: none;
                padding: 11px 33px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                border-radius: 10px;
                margin: 66px 0 0 59px;
                cursor: pointer;
                transition: transform ease-in-out .5s, opacity ease-in-out .5s, background-color ease-in-out .2s;
                &:hover{
                    transform: scale(1.05);
                    opacity: 0.9;
                    background-color: #1e72ad;
                }
            }
        }
    }
    &__card-2{
        animation: showRight 1s;
        position: relative;
        margin-top: 60px;
        margin-left: 100px;
        background-color: #F6F6F6;
        width: 997px;
        height: 391px;
        border-radius: 50px;
        box-shadow: 6px 6px 25px 4px rgba(34, 60, 80, 0.2);
        display: flex;
        justify-content: space-between;
        &_text{
            h2{
                font-size: 24px;
                font-weight: bold;
                color: $base_color;
                padding: 54px 0px 0px 59px;
            }
            p{
                font-size: 16px;
                color: $second_color;
                padding: 31px 0 0 59px;
                width: 455px;
            }
            button{
                background-color: $base_color;
                border: none;
                padding: 11px 33px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                border-radius: 10px;
                margin: 66px 0 0 59px;
                cursor: pointer;
                transition: transform ease-in-out .5s, opacity ease-in-out .5s, background-color ease-in-out .2s;
                &:hover{
                    transform: scale(1.05);
                    opacity: 0.9;
                    background-color: #1e72ad;
                }
            }
        }
    }

    &__modals{
        top: 0px;
        position: relative;
        margin-left: -200px;
    }

    &__window-1{
        margin: 0 auto;
        box-shadow: 0px 0px 50px 80px rgba(0, 0, 0, 0.2);
        display: none;
        background: url(../img/card-modal1.png) no-repeat center center / cover;
        height: 1000px;
        width: 1100px;
        border-radius: 30px;
        animation: .5s ease-in-out 0s alternate ani;
    }

    &__window-2{
        margin: 0 auto;
        box-shadow: 0px 0px 50px 80px rgba(0, 0, 0, 0.2);
        display: none;
        background: url(../img/card-modal2.png) no-repeat center center / cover;
        height: 1000px;
        width: 1100px;
        border-radius: 30px;
        animation: 0.5s ease-in-out 0s alternate ani;
    }

    &__modal-more{
        background-color: #fff;
        height: 688px;
        width: 666px;
        border-radius: 35px;
        position: relative;
        text-align: center;
        margin-left: 240px;
        margin-top: 100px;
        top: 200px;
        img{
            margin-top: 22px;
        }
        p{
            font-size: 24px;
            text-align: left;
            width: 610px;
            margin-left: 28px;
        }
    }

    &__back{
        background: none;
        border: none;
        cursor: pointer;
        float: right;
        margin-top: -670px;
        margin-right: 20px;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.03);
            opacity: .85;
        }
    }

    &__map{
        opacity: 0;
        animation: ani 2.5s forwards;
        h1{
            text-align: center;
            font-size: 48px;
            color: $base_color;
            margin-bottom: 20px;
        }
        iframe{
            height: 812px;
            width: 996px;
        }
        position: absolute;
        top: 1850px;
        text-align: center;
        margin-left: 100px;
    }
}

.footer{
    animation: ani 1.5s;
    background-color: #F6F6F6;
    width: 100%;
    height: 520px;
    margin-top: 2200px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__logo{
        margin-top: 40px;
        display: flex;
        gap: 5px;
        p{
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
        }
        &-text{
            width: 218px;
            color: $second_color;
            font-size: 16px;
            margin-top: 20px;
        }
    }
    &__navigation{
        display: flex;
        gap: 80px;
        margin-top: 100px;
        font-size: 16px;
    }
    &__service-list{
        p{
            color: $base_color;
            font-weight: bold;
        }
        li{
            color: $second_color;
            margin-top: 10px;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                transform: scale(1.05);
                opacity: .85;
            }
        }
    }
    &__company-list{
        p{
            color: $base_color;
            font-weight: bold;
        }
        li{
            color: $second_color;
            margin-top: 10px;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                transform: scale(1.05);
                opacity: .85;
            }
        }
    }
    &__copyright{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        p{
            font-size: 16px;
            span{
                font-weight: bold;
            }
        }
        &-policy{
            display: flex;
            gap: 40px;
            p{
                font-size: 14px;
                transition: all ease-in-out .2s;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                    opacity: .85;
                }
            }
        }
    }
}

.login{
    background-color: $base_color;
    height: 458px;
    width: 100%;
    padding-top: 16px;
    z-index: -2;

    &__back{
        margin-left: -200px;
        transition: all ease-in-out .5s;
        &:hover{
            opacity: .8;
            transform: scale(1.05);
        }
    }

    &__text-block{
        display: flex;
        img{
            position: relative;
        }
    }

    &__text{
        h1{
            font-size: 42px;
            color: #fff;
            padding-top: 94px;
        }
        p{
            width: 400px;
            font-size: 16px;
            color: #fff;
            padding-top: 68px;
        }
    }
    
    &__block{
        animation: ani 1s;
        z-index: 999;
        text-align: center;
        background-color: #fff;
        width: 539px;
        height: 600px;
        border-radius: 40px;
        margin-top: -335px;
        margin-left: 750px;
        box-shadow: 0px 13px 30px -2px rgba(34, 60, 80, 0.2);
    }

    &__welcome{
        text-align: left;
        padding-top: 43px;
        padding-left: 44px;
        font-size: 21px;
    }

    &__autorization{
        text-align: left;
        font-size: 50px;
        padding-left: 44px;
        padding-top: 5px;
    }

    &__login-p{
        position: relative;
        top: -100px;
        text-align: left;
        left: 400px;
        color: #8D8D8D;
        font-size: 13px;
        width: 100px;
    }
    &__login-a{
        position: relative;
        margin: 0 auto;
        top: -100px;
        right: -187px;
        color: $base_color;
        font-size: 13px;
        transition: all ease-in-out .2s; 
        &:hover{
            border-bottom: 1px $base_color solid;
            transform: scale(1.03)
        }
    }

    &__email-p{
        text-align: center;
        padding-bottom: 30px;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;
    }

    &__email-inp{
        text-align: left;
        margin-bottom: 30px;
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }

    &__personal-p{
        text-align: center;
        padding-bottom: 30px;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;
        }
    &__personal-inp{
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }
    
    &__password-p{
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;

    }
    &__password-inp{
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }
    
    &__button{
        margin-top: 90px;
        text-align: center;
        background-color: $base_color;
        padding: 17px 150px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        animation: 1s ease;
        border: none;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            transition: all ease-in-out .3s;
            background-color: #1486D9;
        }
    }
}

.register{
    animation: showLeft 1s;
    background-color: $base_color;
    height: 458px;
    padding-top: 16px;

    &__back{
        margin-left: -200px;
        transition: all ease-in-out .5s;
        &:hover{
            opacity: .8;
            transform: scale(1.05);
        }
    }

    &__text-block{
        display: flex;
        img{
            position: relative;
        }
    }

    &__text{
        h1{
            font-size: 42px;
            color: #fff;
            padding-top: 94px;
        }
        p{
            width: 400px;
            font-size: 16px;
            color: #fff;
            padding-top: 68px;
        }
    }
    
    &__block{
        animation: ani 1s;
        text-align: center;
        background-color: #fff;
        width: 539px;
        height: 795px;
        border-radius: 40px;
        margin-top: -335px;
        margin-left: 750px;
        box-shadow: 0px 13px 30px -2px rgba(34, 60, 80, 0.2);
    }

    &__welcome{
        text-align: left;
        padding-top: 43px;
        padding-left: 44px;
        font-size: 21px;
    }

    &__autorization{
        text-align: left;
        font-size: 50px;
        padding-left: 44px;
        padding-top: 5px;
    }

    &__login-p{
        position: relative;
        top: -100px;
        text-align: left;
        left: 400px;
        color: #8D8D8D;
        font-size: 13px;
        width: 100px;
    }
    &__login-a{
        position: relative;
        margin: 0 auto;
        top: -100px;
        right: -173px;
        color: $base_color;
        font-size: 13px;
        &:hover{
            border-bottom: 1px $base_color solid;
        }
    }

    &__email-p{
        text-align: center;
        padding-bottom: 30px;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;
    }

    &__email-inp{
        text-align: left;
        margin-bottom: 30px;
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }

    &__personal-p{
        text-align: center;
        padding-bottom: 30px;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;
        }
    &__personal-inp{
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }
    
    &__password-p{
        margin-top: 30px;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;

    }
    &__password-inp{
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }

    &__confirm-password-p{
        margin-top: 23px;
        text-align: center;
        text-align: left;
        padding-left: 44px;
        padding-bottom: 17px;
    }
    &__confirm-password-inp{
        width: 451px;
        height: 55.8px;
        border-radius: 9px;
        border: 1px #ADADAD solid;
        padding-left: 25px;
    }
    
    &__button{
        margin-top: 40px;
        text-align: center;
        background-color: $base_color;
        padding: 17px 150px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        animation: 1s ease;
        border: none;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            transition: all ease-in-out .3s;
            background-color: #1486D9;
        }
    }
}

.contacts{
    margin-left: 170px;
    &__block{
        h1{
            font-size: 25px;
            color: #000;
            font-weight: bold;
            margin-top: 150px;
            margin-bottom: 100px;
            position: relative;
            animation: showLeft 1s;
        }
    }
    &__contact{
        position: relative;
        animation: showLeft 1s;
        display: flex;
        gap: 20px;
        margin-bottom: 75px;
        p{
            font-size: 20px;
            font-weight: 600;
            width: 354px;
        }
    }
    &__call{
        position: relative;
        animation: showLeft 1s;
        background-color: $base_color;
        padding: 12px 115px;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s, background-color ease-in-out .2s;
        &:hover{
            transform: scale(1.05);
            opacity: 0.9;
            background-color: #1e72ad;
        }
    }
    &__operators{
            margin-top: -1000px;
            margin-bottom: 220px;
            position: relative;
            animation: showRight 1s;
    }
    &__operators{
        top: 200px;
        margin-left: 500px;
    }
    &__bg-blur{
        top: 50px;
        margin-left: 200px;
    }
    &__modal3{
        display: none;
        opacity: 0;
        animation: ani .8s forwards;
        margin-left: 70px;
    }
    &__modal-body{
        background-color: #fff;
        box-shadow: 0px 0px 50px 80px rgba(0, 0, 0, 0.2);
        width: 712px;
        height: 889px;
        position: absolute;
        top: 150px;
        margin-left: 200px;
    }
    &__modal-text{
        margin-left: 134px;
        margin-top: 128px;
        h1{
            color: #303A42;
            font-weight: bold;
            font-size: 35px;
            padding-bottom: 30px;
        }
        &-wrapper{
            display: flex;
            gap: 45px;
        }
    }
    &__modal-name{
        p{
            font-size: 22px;
            color: #303A42;
        }
        input{
            background-color: #0000000e;
            height: 61px;
            width: 196px;
            border-radius: 10px;
            border: none;
            padding-left: 20px;
            font-size: 19px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    &__modal-surname{
        p{
            font-size: 22px;
            color: #303A42;
        }
        input{
            background-color: #0000000e;
            height: 61px;
            width: 196px;
            border-radius: 10px;
            border: none;
            padding-left: 20px;
            font-size: 19px;
            font-weight: 500;
            margin-top: 10px;
        }
    }

    &__back{
        scale: 4;
        background: none;
        border: none;
        cursor: pointer;
        transition: all ease-in-out .3s;
        position: relative;
        float: right;
        margin-top: -108px;
        margin-right: 20px;
        &:hover{
            opacity: .7;
        }
    }
    &__modal-email{
        margin-top: 25px;
        p{
            font-size: 22px;
            color: #303A42;
        }
        input{
            background-color: #0000000e;
            height: 61px;
            width: 443px;
            border-radius: 10px;
            border: none;
            padding-left: 20px;
            font-size: 19px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    &__modal-message{
        margin-top: 25px;
        p{
            font-size: 22px;
            color: #303A42;
        }
        input{
            background-color: #0000000e;
            height: 172px;
            width: 443px;
            border-radius: 10px;
            border: none;
            padding-left: 20px;
            padding-bottom: 120px;
            font-size: 19px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    &__modal-call{
        background-color: $base_color;
        padding: 15px 163px;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        margin-top: 34px;
        cursor: pointer;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s, background-color ease-in-out .2s;
        &:hover{
            transform: scale(1.05);
            opacity: 0.9;
            background-color: #1e72ad;
        }
    }
}
.footer-contact{
    animation: ani 1.5s;
    background-color: #F6F6F6;
    width: 100%;
    height: 520px;
    margin-top: 100px;
}


.route{
    &__search-bar{
        animation: ani 1s;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        input{
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 35px;
            padding: 15px 25px 15px 25px;
            font-size: 16px;
        }
    }
    &__card-wrapper{
        text-align: center;
        height: auto;
    }
    &__card{
        display: block;
        position: relative;
        animation: showLeft 1s;
        margin: 0 auto;
        background-color: #F6F6F6;
        width: 543px;
        height: 750px;
        border-radius: 35px;
        margin-top: 100px;
        img{
            margin-top: 16px;
        }
        h2{
            display: block;
            color: $base_color;
            font-size: 36px;
            font-weight: bold;
            margin-top: 24px;
        }
        p{
            max-width: 421px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 21px;
            margin-bottom: 25px;
        }
        a{
            background-color: $base_color;
            padding: 10px 25px;
            border-radius: 35px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                padding: 12px 30px;
                opacity: 0.9;
                background-color: #1e72ad;
            }
        }
    }
    &__card1{
        display: block;
        position: relative;
        animation: showRight 1s;
        margin: 0 auto;
        background-color: #F6F6F6;
        width: 543px;
        height: 750px;
        border-radius: 35px;
        margin-top: 100px;
        img{
            margin-top: 16px;
        }
        h2{
            display: block;
            color: $base_color;
            font-size: 36px;
            font-weight: bold;
            margin-top: 24px;
        }
        p{
            max-width: 421px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 21px;
            margin-bottom: 25px;
        }
        a{
            background-color: $base_color;
            padding: 10px 25px;
            border-radius: 35px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                padding: 12px 30px;
                opacity: 0.9;
                background-color: #1e72ad;
            }
        }
    }
    &__card2{
        display: block;
        position: relative;
        animation: showLeft 1s;
        margin: 0 auto;
        background-color: #F6F6F6;
        width: 543px;
        height: 750px;
        border-radius: 35px;
        margin-top: 100px;
        img{
            margin-top: 16px;
        }
        h2{
            display: block;
            color: $base_color;
            font-size: 36px;
            font-weight: bold;
            margin-top: 24px;
        }
        p{
            max-width: 421px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 21px;
            margin-bottom: 25px;
        }
        a{
            background-color: $base_color;
            padding: 10px 25px;
            border-radius: 35px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                padding: 12px 30px;
                opacity: 0.9;
                background-color: #1e72ad;
            }
        }
    }
    &__card3{
        display: block;
        position: relative;
        animation: showRight 1s;
        margin: 0 auto;
        background-color: #F6F6F6;
        width: 543px;
        height: 750px;
        border-radius: 35px;
        margin-top: 100px;
        img{
            margin-top: 16px;
        }
        h2{
            display: block;
            color: $base_color;
            font-size: 36px;
            font-weight: bold;
            margin-top: 24px;
        }
        p{
            max-width: 421px;
            font-size: 16px;
            margin: 0 auto;
            margin-top: 21px;
            margin-bottom: 25px;
        }
        a{
            background-color: $base_color;
            padding: 10px 25px;
            border-radius: 35px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: all ease-in-out .2s;
            &:hover{
                padding: 12px 30px;
                opacity: 0.9;
                background-color: #1e72ad;
            }
        }
    }
    &__sorted{
        animation: ani 1s;
        text-align: center;
        margin-top: 40px;
        margin-left: -20px;
        button{
            margin-left: 20px;
            background: none;
            border: none;
            background-color: #fff;
            border: 1px solid #000;
            width: 220px;
            height: 30px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition: all ease-in-out .3s;
            &:hover{
                transform: scale(1.05);
                opacity: .85;
            }  
        }
        p{
            font-size: 24px;
        }

    }
    &__pagination{
        animation: ani 1s;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        button{
            display: none;
            background: none;
            border: none;
            background-color: #fff;
            border: 1px solid #000;
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            transition: all ease-in-out .3s;
            &:hover{
                transform: scale(1.05);
                opacity: .85;
            }      
        }
    }
}

.footer-routes{
    animation: ani 1.5s;
    background-color: #F6F6F6;
    height: 520px;
    margin-top: 100px;
}



@media (max-width: 414px) {
    @keyframes typewriter{
        from {
            width: 10%;
        }
        to {
            width: 76%;
        }
    }
    .container{
        width: 400px;
        padding: 0 10px;
        margin: 0 auto;
    }
    .header{
        
        &__logo{
            img{
                width: 45px;
                height: 45px;
                margin-top: 12px;
            }
            h2{
                font-size: 12px;
            }
        }
        &__nav{
            display: none;
        }
        &__button{
            display: none;
        }
        hr{
            width: 380px;
        }
        &__burger{
            display: block;
            background: none;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            margin-left: -10px;
            &-back{
                display: none;
                position: absolute;
                margin-top: 26px;
                margin-left: -18px;
                border: none;
                background: none;
                scale: 2;
            }

        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
    .main{
        margin-left: -20px;
        &__wrapper{
            display: flex;
            flex-direction: column;
        }
        &__title-text{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 40px;
                text-align: left;
                margin: 0 auto;
                margin-top: 40px;
                margin-left: 60px;
            }
            p{
                font-size: 16px;
                margin: 0 auto;
                text-align: left;
                margin-top: 30px;
                margin-left: 20px;
            }
        }
        &__slider-wrapper{
            max-width: 414px;
            scale: 0.5;
            margin-left: -205px;
            margin-top: -120px;
        }

        &__next-button{
            left: 660px;
        }
        
        &__card-block{
            scale: 0.35;
            margin-left: -365px;
            margin-top: -300px;
        }
        &__card-2_text{
            button{
                scale: 1.1;
            }
        }
        &__card-1_text{
            button{
                scale: 1.1;
            }
        }
        &__modals{
            scale: 0.35;
            margin-left: -160px;
            margin-top: -480px;
        }
        &__map{
            scale: 0.4;
            margin-left: -298px;
            margin-top: -1050px;
        }
    }    
    .footer{
        margin-top: 1270px;
        height: 350px;
        &__wrapper{
            margin-bottom: 20px;
        }
        &__logo{
            scale: 0.6;
            margin-top: 50px;
            img{
                margin-left: -30px;
                margin-bottom: -30px;
            }
            p{
                font-size: 16px;
                margin-bottom: -30px;
            }
            &-text{
                font-size: 10px;
                width: 135px;
            }
        }
        &__navigation{
            font-size: 10px;
        }
        &__copyright{
            margin-top: 10px;
            scale: 0.6;
            gap: 80px;
            margin-left: -60px;
            &-policy{
                p{
                    width: 115px;
                }
            }
        }
    }
    .contacts{
        .container{
            margin-left: -160px;
        }
        &__html{
            height: 100%;
        }
        &__block{
            scale: 0.6;
            margin-left: 1px;
        }
        &__operators{
            scale: 0.6;
            position: relative;
            top: -300px;
            margin-left: -160px;
        }
        &__modals{
            scale: 0.5;
            margin-left: -290px;
            margin-top: -650px;
        }
    }
    .footer-contact{
        height: 350px;
        margin-top: 600px;
    }
    .container-reg{
        height: 100%;
        width: calc(100%);
    }
    .login{
        .container-reg{
            width: 400px;
            margin: 0 auto;
            padding: 0 10px;
        }
        &__back{
            margin-left: 10px;
        }
        &__text-block{
            display: none;
        }
        &__block{
            margin-top: 1px;
            margin-left: -83px;
            scale: 0.7;
        }
        &__login-p{
            width: 100px;
        }
    }
    .register{
        .container-reg{
            width: 400px;
            margin: 0 auto;
            padding: 0 10px;
        }
        &__back{
            margin-left: 10px;
        }
        &__text-block{
            display: none;
        }
        &__block{
            margin-top: 1px;
            margin-left: -80px;
            scale: 0.7;
        }
        &__login-p{
            width: 100px;
        }
    }
    .footer-routes{
        height: 350px;                                                                              
    }    
    .route{
        height: auto;
        &__search-bar{
            scale: 0.6;
        }
        &__card-wrapper{
            scale: 0.6;
            margin-left: -50px;
        }
        &__card{
            margin-top: -600px;
        }
        &__sorted{
            scale: 0.8;
            button{
                font-size: 10px;
            }
        }
        &__pagination{
            margin-left: 70px;
        }
    }             
}